:root{
  --background: black;
  --foreground: white;
  --maincolor: rgb(0, 253, 0);
  --imgshadow:rgb(209, 137, 55);
}

body{
  
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  /* overflow: hidden; */
}
.headermain{
  
  display: flex;
  justify-content: space-between;
  flex-shrink: 7;  
  top: 0;
  left: 0;
  width: 100%;
}
.logoName{
  width: fit-content;
  height: 30px;
  margin-left: 3rem;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 300;
  transition: 0.3s ease;
  cursor: pointer;
}
.logoName:hover{
  transform: scale(1.3);
}

.logoName span{
  backdrop-filter: blur(0.001px);
  text-shadow: 0 0 11px rgb(41, 247, 9);
  
}

header{
  position: sticky;
  box-sizing: border-box;
  top: 0;
  height: 0;
  background-color: white;
}

section{
  min-height: 100vh;
  padding: 10rem 12% 10rem;
}

.home{
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}


@media only screen and (max-width:1200px){
  .logoName{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 1.5rem;
  }
}
